* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    opacity: 0.6; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 400px; 
    background: rgb(77, 107, 157);
    color: #fff;
    border-radius: 25px;
    padding: 20px; 
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.date {
    font-size: 22px; 
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px; 
}

.search input {
    border: none;
    outline: none;
    padding: 15px 20px; 
    font-size: 20px; 
    border-radius: 30px;
    flex: 1;
    margin-right: 10px; 
    background-color: #ebffff;
    color: #333;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebffff;
    border-radius: 50%;
    padding: 15px; 
    cursor: pointer;
}

.weather-icon {
    margin: 20px auto; 
    width: 120px;
}

.temp {
    font-size: 50px; 
}

.weather-info {
    margin: 10px 0; 
    font-size: 24px; 
}

.details {
    display: flex;
    justify-content: space-around;
    margin: 20px 0; 
    align-items: center; 
}

.details img {
    width: 30px; 
    height: 30px;
}

.col {
    text-align: center;
}

.col p {
    font-size: 20px; 
    margin: 5px 0; 
}

#hourly-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hourly {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 10px; 
    margin: 0 5px; 
    flex: 1;
    text-align: center;
    font-size: 16px; 
}

.hourly img {
    width: 30px; 
    height: 30px; 
}
